@model CreateProductVm

<div class="container">

    <form method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Name:">
                    <span asp-validation-for="Name" style="color:red"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="SKU">SKU</label>
                    <input asp-for="SKU" class="form-control" placeholder="Enter SKU:">
                    <span asp-validation-for="SKU" style="color:red"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" type="number" min="0" step="0.01" placeholder="Enter Price:">
                    <span asp-validation-for="Price" style="color:red"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CategoryIds">Category</label>
                    <select multiple class="form-control" asp-for="CategoryIds" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                    </select>
                    <span asp-validation-for="CategoryIds" style="color:red"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TagIds">Tag</label>
                    <select multiple class="form-control" asp-for="TagIds" asp-items="@(new SelectList(ViewBag.Tags, "Id", "Name"))">
                    </select>
                    <span asp-validation-for="TagIds" style="color:red"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="MainPhoto">Main Photo</label>
                    <input asp-for="MainPhoto" class="form-control">
                    <span asp-validation-for="MainPhoto" style="color:red"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Images">Product Images</label>
                    <input asp-for="Images" class="form-control">
                    <span asp-validation-for="Images" style="color:red"></span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

