@model UpdateTagVm

<div class="container">

    <form method="Post">

        <div class="form-group">
            <label asp-for="Name">Name</label>
            <div class="d-flex align-items-center">
                <span style="font-weight:bold; margin-right: 10px;">ID:@Model.Id</span>
                <input class="form-control" placeholder="Enter name: " asp-for="Name">
            </div>
            <span asp-validation-for="Name" style="color:red"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>